.speech
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}

.song
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: black;
}

.direction
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color: black;
    background-color: beige;
}

.name
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}

.name:hover
{
    background-color: blueviolet; 
}

.direction:hover
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color:indigo;
    background-color:blanchedalmond;
}

.BOAT
{
    color: darkred;
}

.BUT
{
    color: darkred;
}

.DICK
{
    color: darkred;
}

.ALL
{
    color: darkred;
}

.RALPH
{
    color: darkred;
}

.CAPT
{
    color: darkred;
}

.JOS
{
    color : darkred;
}
.CHORUS
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table 
{
    text-align: center;
    border : 1px solid black;
    color: darkslategray;
    border-collapse:collapse;
}

td,th 
{
    border: 1px solid darkslategray;
    text-align: center;
    padding: 6px;
}

tr:nth-child(even){
    background-color:beige;
}